@import "../../scss/libs/variables";

@mixin phone {
  @media only screen and (max-width: 649px) {
    @content;
  }
}
.contador {
  h5{font-weight:bold;
     font-size:1.6rem;
     margin-bottom: 0.75rem;}
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 0.75rem auto 1rem;
  max-width: 1080px;
  height: auto;
  background-color: $color-primary;
  padding: 1rem;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  height: auto;
  min-height: 180px;
  color: $color-text-inverse;
  border-radius:1rem;
 
  .titulob{
    color: $color-text-inverse;
  }
  .contadores{
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    @include phone{
      flex-flow: column;
    }
  }
  img{
    max-width: 50px;
  }
  .Count {
   
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    @include phone{
      flex-flow: column;
      margin-top: 1rem;
    }
   .numero {
     color: $color-accent;
     letter-spacing: 1.5px;
    font-weight: bold;
      font-size: 2rem;
      
    }

    .Count-icon {
      width: 48px;
      height: 48px;
      color: $color-accent;
    }
  }
}
